DATABASE_URL=postgresql://root:root@localhost:5433/babycare

REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# 🔐 JWT SECRET (UPDATED)
SECRET_KEY=9fK#82kL@pQ!zX7vN3$wR6bT#1mY8@cH

# 📧 EMAIL CONFIG
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_password

#email config 
EMAIL_ADDRESS=gangadariprashanth12@gmail.com
EMAIL_PASSWORD=sega wcep fujh crki

BASE_URL=http://localhost:8000

PROFILE_DIR=app/uploads/profile
AADHAR_DIR=app/uploads/aadhar

SUREPASS_API_KEY=your_actual_api_key_here